.login-screen{
  /* background: url('../src/imgs/Login-bg.jpg') no-repeat center center;
  background-size: cover; */
  background-color: rgba(96, 111, 123, 0.3); 
}
.login-screen video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -2;
}
.add-trip-bg{
  background: url('../src/imgs/addteam-bg.jpg') no-repeat center center;
  background-size: cover;
}

.feed-bg{
  background: url('../src/imgs/newsfeed-bg.jpg') no-repeat center center;
  background-size: cover;
}
.trip-card{
  width: 30%;
}

.h-pro-header{
  height: 500px;
  background: url('../src/imgs/addteam-bg.jpg') no-repeat center center;
  background-size: cover;
}
.h-pro-image{
  height: 400px;
}

.registrationScreen{
  background: url('../src/imgs/Login-bg.jpg') no-repeat center center;
  background-size: cover;
  background-color: rgba(96, 111, 123, 0.3); 
}
.registerForm{
  font-family: 'Butterfly Kids', cursive;
  /* font-size: 2rem; */
  /* background-color: #1f9d55; */
  /* background-image: linear-gradient(45deg, #1f9d55 10%, #1a4731 40%, #1f9d55 90%); */
}
.registerText{
  font-family: 'Montserrat', sans-serif;
  font-size: '1.5rem';
}


/* TABS */
.active{
  background: #20504F;
}
.tabs:hover{
  cursor: pointer;
}
 .h-half{
   height: 50vh;
 }

 .header-font{
  font-family: 'Assistant', sans-serif;
 }
 .text-font{
  font-family: 'Montserrat', sans-serif;
 }