.login-screen{
  background: url('../src/imgs/Login-bg.jpg') no-repeat center center;
  background-size: cover;
}
.add-trip-bg{
  background: url('../src/imgs/addteam-bg.jpg') no-repeat center center;
  background-size: cover;
}

.feed-bg{
  background: url('../src/imgs/newsfeed-bg.jpg') no-repeat center center;
  background-size: cover;
}
.trip-card{
  width: 30%;
}

.h-pro-header{
  height: 500px;
  background: url('../src/imgs/addteam-bg.jpg') no-repeat center center;
  background-size: cover;
}
.h-pro-image{
  height: 400px;
}

